[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aliases2entrez"]
	path = aliases2entrez
	url = https://github.com/peyronlab/aliases2entrez
[submodule "CMapViz"]
	path = CMapViz
	url = https://github.com/peyronlab/cmapviz
[submodule "ScriptMapR"]
	path = ScriptMapR
	url = https://github.com/peyronlab/scriptmapr
